<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="styles/header-component.css"/>
    <link rel="stylesheet" href="styles/general.css"/>
    <link rel="stylesheet" href="styles/anime-info.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>OktauAI</title>
  </head>

  <!-- Start of header -->
  <body>
    <div class="header-container">
      <div class="header-left">
        <img class="logo-image" src="images/OtakuAI.png">
        <div class="title-text">
          OtakuAI
        </div>
      </div>
      <div class="header-middle">
        <input class="search-bar" type="text" placeholder="Find Anime/Manga">
      </div>
      <div class="header-right">
        <div class="current-user-info">
          Welcome, Matt
        </div>
        <img class="profile-picture" src="images/default-profile.png">
      </div>
    </div>
    <!-- End of header -->
    <div class="content-container">
      <div class="genres">
        <p>Berserk</p>
      </div>
      <div class="current-anime">

      </div>
      <div class="most-popular">

      </div>
    </div>

    <!-- Start of anime/manga display -->
    <!-- End of anime/manga display -->

  </body>
</html>